.tiles-icons {
    background: linear-gradient(270deg, #bd1550, #93123f);
    background-size: 400% 400%;

    -webkit-animation: PinkBackground 18s ease infinite;
    -moz-animation: PinkBackground 18s ease infinite;
    animation: PinkBackground 18s ease infinite;
}

@-webkit-keyframes PinkBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes PinkBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes PinkBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.tiles-icons .tile {
    background-color: #93123F;
    border-radius: 20px;
}

.tiles-icons .tile:hover {
    background-color: #1F1946;
}

.tiles-icons .tile:hover .btn-primary {
    background-color: #93123F;
}


.tiles-icons .tile .lead {
    color: #FFC259;
}

.tiles-icons .tile .icon-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFC259;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.tiles-icons .tile .icon-holder i {
    font-size: 2rem;
    color: #231B53;
}


.tiles-icons h2 {
    color: white;
}

.tiles-icons h3 {
    color: white;
}
.tiles-icons p {
    color: white;
}

@media (max-width: 767px) {
    .tiles-icons .tile {
        height: auto;
        min-height: auto;
    }
}